* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: quicksand, sans-serif;
}

button {
  font-weight: 600;
}

.py80 {
  padding-top: 80px;
  padding-bottom: 50px;
}

.py70 {
  padding-top: 70px;
  padding-bottom: 50px;
}

.py60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.py60oo {
  padding-top: 60px;
  padding-bottom: 20px;
}

.py50 {
  padding-top: 50px;
  padding-bottom: 35px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-28 {
  margin-top: 28px;
}

.mmt-5 {
  margin-top: 3rem;
}

.p-10 {
  padding: 10px;
}

.px10 {
  padding-right: 10px;
  padding-left: 10px;
}

.py10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.font {
  font-family: open sans, sans-serif;
}

.s-b {
  justify-content: space-between;
}

.s-e {
  justify-content: space-evenly;
}

.shape {
  background-color: #f63854;
  width: 60px;
  height: 1px;
  margin: auto;
  margin-top: 1rem !important;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-instagram {
  color: #fb3958;
}

.color {
  color: #f63854;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav h4 {
  margin-bottom: 0px;
  color: #F63854;
}
nav h4:hover {
  color: #F63854;
}

.main {
  background-image: url(../image/hero-area.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-height: 800px;
  height: 1000px;
  width: 100%;
}
.main .navbar a {
  font-weight: 600;
}
.main p,
.main h1,
.main h2,
.main h3,
.main h4,
.main h5,
.main h6,
.main ul {
  margin-bottom: 0px !important;
}
.main p {
  color: #abacae;
}
.main nav a {
  transition: 0.5s;
}
.main nav a:hover {
  color: #f63854;
}
.main .nav-item {
  padding-left: 25px;
}
.main .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #fff;
  color: black;
  overflow-x: hidden;
  transition: 0.5s;
  width: 0%;
  background: #F9F9F9;
}
.main .overlay-content {
  padding-left: 0px;
  position: absolute;
  top: 12%;
  left: -1.5%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.main .overlay-content a {
  padding-left: 10px;
}
.main .overlay a {
  padding: 3px;
  text-decoration: none;
  font-size: 18px;
  text-align: left;
  display: block;
  color: black;
  transition: 0.3s;
}
.main .overlay a:hover,
.main .overlay a:focus {
  color: #f63854;
}
@media screen and (max-height: 450px) {
  .main .overlay a {
    font-size: 20px;
  }
  .main .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.main .navbar-toggler {
  border: none !important;
}
.main .navbar-toggler:focus {
  box-shadow: none !important;
}
.main .btnss {
  background-color: #f63854;
  color: #fff;
  padding: 10px 28px;
  border-radius: 25px;
  transition: 0.5s;
  border: 1px solid transparent;
}
.main .btnss:hover {
  background-color: transparent;
  color: #f63854;
  border-color: #f63854;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
}
.main .b1 {
  background-color: #fff;
  color: #f63854;
  border-color: #f63854;
}
.main .b1:hover {
  background-color: #f63854;
  color: #fff;
  border-color: #f63854;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
}
.main .owl-dots {
  display: none;
}

.navbar-nav > li {
  position: relative;
  transition: linear 1s;
}

.arrow {
  margin-left: 3px;
  font-size: 11px;
  content: "";
  /* font-family: blueskytechco!important; */
  /* line-height: 1; */
  /* font-size: 1.4rem; */
  margin-left: 1px;
  /* vertical-align: middle; */
  /* display: inline-block; */
  font-weight: 400;
}

nav {
  transition: 0.5s;
}
nav .submenu {
  position: absolute;
  left: 124%;
  right: 0%;
  top: 60%;
  display: none;
  opacity: 0;
  visibility: hidden;
}
nav ul.menu {
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  width: 200px;
  background-color: white;
  position: absolute;
  left: 0%;
  transition: all ease-in-out 0.5s;
  top: 200%;
  margin: 0;
  padding: 21px 31px !important;
}
nav ul.menu li:hover .submenu {
  display: block;
  top: -68%;
  opacity: 1;
  visibility: visible;
}
nav ul.menu li {
  line-height: 28px;
  position: relative;
  margin-left: 0px !important;
  list-style-type: none;
}
nav ul.menu li a {
  color: black;
  text-decoration: none;
  transition: 0.5s;
  color: rgba(0, 0, 0, 0.6);
}
nav ul.menu li a:hover {
  padding-left: 7px;
}
nav .navbar-nav .nav-item {
  transition: all ease-in-out 0.5s;
}
nav .navbar-nav .nav-item:hover .menu {
  opacity: 1;
  top: 120%;
  display: block;
  visibility: visible;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

nav {
  background-image: url(image/hero-area.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-height: 800px;
}
nav li {
  margin-left: 20px !important;
}
nav .navbar a {
  font-weight: 600;
}

nav a {
  font-weight: 600 !important;
  transition: 0.5s;
}
nav a:hover {
  color: #f63854 !important;
}

.nav-item {
  padding-left: 25px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #fff;
  color: black;
  overflow-x: hidden;
  transition: 0.5s;
  width: 0%;
  background: #F9F9F9;
}

.overlay-content {
  padding-left: 0px;
  position: absolute;
  top: 12%;
  left: -1.5%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay-content a {
  padding-left: 10px;
}

.overlay a {
  padding: 3px;
  text-decoration: none;
  font-size: 18px;
  text-align: left;
  display: block;
  color: black;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f63854;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.btnss {
  background-color: #f63854;
  color: #fff;
  padding: 10px 28px;
  border-radius: 25px;
  transition: 0.5s;
  border: 1px solid transparent;
}
.btnss:hover {
  background-color: transparent;
  color: #f63854;
  border-color: #f63854;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
}

.b1 {
  background-color: #fff;
  color: #f63854;
  border-color: #f63854;
}
.b1:hover {
  background-color: #f63854;
  color: #fff;
  border-color: #f63854;
  \b ox-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
}

.accordin {
  margin: 5px;
  border-radius: 10px;
  background: white;
}

.accordion-item span {
  transition: 0.2s;
}
.accordion-item span:hover {
  color: #F63854;
}

.accordion-item {
  padding: 5px;
  text-align: left;
}
.accordion-item span {
  font-weight: 600;
}

.accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid black;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  color: black;
  font-size: 1.15rem;
  border: none;
  background: none;
  outline: none;
}

.accordion-content ul li {
  list-style-type: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: black;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: black;
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 0;
  width: 22px;
  height: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded=true] {
  color: black;
}

.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}

.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: -moz-max-content;
  max-height: max-content;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear !important;
  will-change: opacity, max-height;
}

.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}

.accordion-item {
  border: none;
}
.accordion-item p {
  color: #F63854;
}

.nngh {
  overflow: hidden;
}
.nngh p,
.nngh h1,
.nngh h2,
.nngh h3,
.nngh h4,
.nngh h5,
.nngh h6,
.nngh ul {
  margin-bottom: 0px;
}
.nngh .icon4 i {
  color: #f63854;
}
.nngh .icon4 i {
  border-radius: 50%;
  padding: 20px;
  color: #f63854;
  border: 1px solid rgba(198, 198, 198, 0.3);
  font-size: 29px;
  transition: 0.3s !important;
}
.nngh .card {
  box-shadow: 0 2px 18px 0 rgba(198, 198, 198, 0.3);
  transition: 0.4s;
  text-align: center;
  border: none;
}
.nngh .card:hover {
  box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
}
.nngh .card:hover .icon4 i {
  color: white;
  background-color: #f63854;
  border-color: transparent;
}
.nngh .card h5 {
  color: #585b60;
}
.nngh .card p {
  color: #abacae;
}
.nngh .icon4 {
  text-align: center;
}
.nngh .card-height {
  height: 100%;
  /* Set a fixed height for the card */
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.nngh .card-body {
  flex: 1;
  /* Allow the card body to expand within the fixed height */
}
.nngh .hgy {
  padding: 18px;
}

.nnh {
  overflow: hidden;
  background-color: #f9f9f9;
}
.nnh p,
.nnh h1,
.nnh h2,
.nnh h3,
.nnh h4,
.nnh h5,
.nnh h6,
.nnh ul {
  margin-bottom: 0px;
}
.nnh span,
.nnh p {
  color: #abacae;
}
.nnh h2 {
  color: #585b60;
}
.nnh .btn7 {
  background-color: #f63854;
  color: #fff;
  padding: 10px 30px;
  border-radius: 25px;
  transition: 0.5s;
  border: 1px solid transparent;
}
.nnh .btn7:hover {
  border-color: #f63854;
  background-color: transparent;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  color: #f63854;
}

.jjgh {
  overflow: hidden;
}

.jjgh p,
.jjgh h1,
.jjgh h2,
.jjgh h3,
.jjgh h4,
.jjgh h5,
.jjgh h6,
.jjgh ul {
  margin-bottom: 0px;
}
.jjgh p {
  color: #abacae;
}
.jjgh h5 {
  color: #585b60;
}
.jjgh .box1 {
  padding: 20px;
  box-shadow: 0 2px 18px 0 rgba(198, 198, 198, 0.3);
  text-align: end;
  transition: 0.4s;
  margin-top: 25px;
}
.jjgh .box1 h5 {
  transition: 0.4s;
}
.jjgh .box1:hover {
  box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
}
.jjgh .box1:hover h5 {
  color: #f63854;
}
.jjgh .box1 span {
  margin-left: auto;
}
.jjgh .box1 span i {
  color: #f63854;
  font-size: 32px;
  padding: 20px 20px 20px 25px;
}

.nnh5 {
  overflow: hidden;
  background-color: #f9f9f9;
}
.nnh5 p,
.nnh5 h1,
.nnh5 h2,
.nnh5 h3,
.nnh5 h4,
.nnh5 h5,
.nnh5 h6,
.nnh5 ul {
  margin-bottom: 0px !important;
}
.nnh5 span,
.nnh5 p {
  color: #abacae;
}
.nnh5 h6 {
  color: #616161;
}
.nnh5 .icon i {
  font-size: 20px;
  margin-right: 14px;
}
.nnh5 .hhk {
  border: 1px solid black;
  display: flex;
}
.nnh5 .pad {
  padding: 40px;
}
.nnh5 .card-body {
  padding: 0px;
}
.nnh5 .card {
  transition: 0.4s;
  box-shadow: 0 2px 18px 0 rgba(198, 198, 198, 0.3);
  margin: 15px;
  border: none;
  border-radius: 0px;
}
.nnh5 .card:hover {
  box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
}
.nnh5 .card .card-link + .card-link {
  margin-left: 0px;
}
.nnh5 .card .iii {
  width: 90%;
  border-radius: 0px;
  height: 100%;
}
.nnh5 .flex4 {
  display: flex;
}

.bbfh {
  overflow: hidden;
}
.bbfh p,
.bbfh h1,
.bbfh h2,
.bbfh h3,
.bbfh h4,
.bbfh h5,
.bbfh h6,
.bbfh ul {
  margin-bottom: 0px !important;
}
.bbfh span,
.bbfh p {
  color: #abacae;
}
.bbfh h6 {
  color: #616161;
}
.bbfh .btn6 {
  background-color: #f63854;
  color: #fff;
  padding: 10px 30px;
  border-radius: 25px;
  transition: 0.5s;
  border: 1px solid transparent;
}
.bbfh .btn6:hover {
  background-color: transparent;
  border-color: #f63854;
  color: #f63854;
}
.bbfh .img i {
  padding: 18px;
  font-size: 50px;
  color: #f63854;
  border-radius: 50%;
  margin-bottom: 20px;
  transition: 0.5s;
  background-color: #ebedef;
}
.bbfh .bbhhm {
  height: 100%;
  /* Set a fixed height for the card */
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.bbfh .bbhhm {
  flex: 1;
  /* Allow the card body to expand within the fixed height */
}
.bbfh .bbhhm {
  box-shadow: 0 2px 18px 0 rgba(198, 198, 198, 0.3);
  border-radius: 4px;
  transition: 0.4s;
  padding: 30px;
}
.bbfh .bbhhm:hover {
  box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
}
.bbfh .bbhhm p, .bbfh .bbhhm h5, .bbfh .bbhhm span {
  margin-top: 12px;
}
.bbfh .bbhhm:hover .img i {
  background-color: #f63854;
  color: #fff;
}
.bbfh .active {
  box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
}
.bbfh .active .img i {
  background-color: #f63854;
  color: #fff;
}
.bbfh .content h5 {
  text-transform: uppercase;
}

.asdfu {
  background-color: #f63854;
}
.asdfu p,
.asdfu h1,
.asdfu h2,
.asdfu h3,
.asdfu h4,
.asdfu h5,
.asdfu h6,
.asdfu ul {
  margin-bottom: 0px !important;
}
.asdfu span,
.asdfu h6 {
  color: #616161;
}
.asdfu .bbf {
  margin: auto;
  width: 100px !important;
  border-radius: 50%;
}
.asdfu .card {
  border: none;
}
.asdfu .card-body {
  padding: 20px;
}

.owl-theme .owl-dots .owl-dot.active span {
  outline: 2px solid white;
  background: transparent !important;
}

.owl-theme .owl-dots .owl-dot span {
  outline: 2px solid white;
}

.register p {
  color: #abacae;
}

.ndk {
  overflow: hidden;
  background-color: #f9f9f9;
}
.ndk .bbnn input, .ndk textarea {
  border: 1px solid #f1f1f1;
  padding: 10px;
  transition: 0.5s;
}
.ndk .bbnn input::-moz-placeholder, .ndk textarea::-moz-placeholder {
  color: #abacae;
}
.ndk .bbnn input::placeholder, .ndk textarea::placeholder {
  color: #abacae;
}
.ndk .bbnn input:focus, .ndk textarea:focus {
  border-color: #F63854 !important;
  outline: none;
}

.btnn {
  background-color: #f63854;
  color: #fff;
  padding: 10px 30px;
  border-radius: 25px;
  transition: 0.5s;
  border: 1px solid transparent;
}
.btnn:hover {
  background-color: #fff;
  color: #f63854;
  border-color: #F63854;
}

footer {
  overflow: hidden;
  font-weight: 600;
}
footer .icon i {
  margin-right: 20px;
  color: white;
  background-color: #F63854;
  transition: 0.4s !important;
  border-radius: 50%;
  padding: 10px;
}
footer .icon i:hover {
  background: black;
  color: white;
}
footer ul {
  line-height: 34px;
  margin: 0;
  padding: 0;
}
footer ul li {
  list-style-type: none;
}
footer ul li a {
  text-decoration: none;
  color: #666666;
  transition: 0.3s;
}
footer ul li a:hover {
  color: #F63854;
}
footer .p-policy {
  color: #F63854;
}
footer .p-policy a {
  color: #F63854;
}

.shape2 {
  background-color: #f63854;
  width: 60px;
  height: 1px;
  margin: auto;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.bbtt {
  color: white;
  background-color: #f63854;
  border: none;
  padding: 15px;
  font-size: 20px;
  border-radius: 50%;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 2;
  transition: 0.3s;
}
.bbtt:hover {
  background-color: #ce334a;
}

.vv {
  padding: 10px;
}

.color3 {
  color: #F63854 !important;
  font-weight: 600;
  font-size: 20px;
}

.muted {
  font-size: 16px;
}
.accordion11 {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active11,
.accordion11:hover {
  background-color: #ccc;
}

.accordion11:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active11:after {
  content: "\2212";
}

.panel11 {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.panel11 p{
  margin-top: 10px;
}
.nav-link{
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .mm-t {
    margin-top: 32px;
  }
  .py70 {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .mmt-5 {
    margin-top: 2rem;
  }
  .py60 {
    padding-top: 40px;
    padding-bottom: 25px;
  }
  .py60oo {
    padding-top: 40px;
    padding-bottom: 10px;
  }
  .bbtt {
    padding: 9px;
  }
  .vv {
    padding: 0px;
  }
  .ff {
    padding-left: 12px;
  }
  .cc {
    margin-top: 48px;
  }
}
@media screen and (max-width: 992px) {
  .flex4 {
    flex-direction: column;
  }
  .nnh5 .card .iii {
    width: 100%;
  }
  .nnh5 .text {
    padding: 25px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .main {
    max-height: 600px;
  }
  .main .img img {
    height: 100%;
  }
}
@media screen and (min-width :1200px) and (max-width:1400px){
  .main{
    max-height: 700px;
  }
}
@media screen and (max-width: 576px) {
  .cc {
    margin-top: 38px;
  }
  .bbbf{
    margin-left: 6px !important;  
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .cc {
    margin-top: 48px;
  }
}/*# sourceMappingURL=style.css.map */